<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hgzp.mapper.media.TbfoldareaverMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hgzp.core.model.Tbfoldareaver">
        <id column="id" property="id" />
        <result column="sname" property="sname" />
        <result column="foldid" property="foldid" />
        <result column="sreamrk" property="sreamrk" />
        <result column="isort" property="isort" />
        <result column="buse" property="buse" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, sname, foldid, sreamrk, isort, buse
    </sql>

</mapper>
