<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hgzp.mapper.media.TbmediapublicnumMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hgzp.core.model.Tbmediapublicnum">
        <id column="id" property="id" />
        <result column="mediaid" property="mediaid" />
        <result column="medianame" property="medianame" />
        <result column="dpublishtime" property="dpublishtime" />
        <result column="spublishno" property="spublishno" />
        <result column="buse" property="buse" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, mediaid, medianame, dpublishtime, spublishno, buse
    </sql>

</mapper>
