<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hgzp.mapper.ad.TwadresourcefilesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hgzp.core.model.Twadresourcefiles">
        <id column="id" property="id" />
        <result column="adresourceapplicationid" property="adresourceapplicationid" />
        <result column="createempid" property="createempid" />
        <result column="createempname" property="createempname" />
        <result column="sfileformat" property="sfileformat" />
        <result column="sfileid" property="sfileid" />
        <result column="sfilesize" property="sfilesize" />
        <result column="soriginalfile" property="soriginalfile" />
        <result column="dcreatetime" property="dcreatetime" />
        <result column="sfiletype" property="sfiletype" />
        <result column="ifilecategory" property="ifilecategory" />
        <result column="sdescription" property="sdescription" />
        <result column="dcreatedate" property="dcreatedate" />
        <result column="mediaid" property="mediaid" />
        <result column="medianame" property="medianame" />
        <result column="iapprovestatus" property="iapprovestatus" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, adresourceapplicationid, createempid, createempname, sfileformat, sfileid, sfilesize, soriginalfile, dcreatetime, sfiletype, ifilecategory, sdescription, dcreatedate, mediaid, medianame, iapprovestatus
    </sql>

</mapper>
