<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hgzp.mapper.ad.TwadresourceadorderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hgzp.core.model.Twadresourceadorder">
        <id column="id" property="id" />
        <result column="adresourceapplicationid" property="adresourceapplicationid" />
        <result column="adorderid" property="adorderid" />
        <result column="createempid" property="createempid" />
        <result column="createempname" property="createempname" />
        <result column="dcreatetime" property="dcreatetime" />
        <result column="sremark" property="sremark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, adresourceapplicationid, adorderid, createempid, createempname, dcreatetime, sremark
    </sql>

</mapper>
