<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hgzp.mapper.finance.TbadprintitemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hgzp.core.model.Tbadprintitem">
        <id column="id" property="id" />
        <result column="sname" property="sname" />
        <result column="isort" property="isort" />
        <result column="buse" property="buse" />
        <result column="bdefault" property="bdefault" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, sname, isort, buse,bdefault
    </sql>

</mapper>
