<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hgzp.mapper.finance.TbbusinessentityMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hgzp.core.model.Tbbusinessentity">
        <id column="id" property="id" />
        <result column="sname" property="sname" />
        <result column="sbankaccount" property="sbankaccount" />
        <result column="sphone" property="sphone" />
        <result column="saddress" property="saddress" />
        <result column="taxitems" property="taxitems" />
        <result column="taxrate" property="taxrate" />
        <result column="isort" property="isort" />
        <result column="buse" property="buse" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, sname, sbankaccount, sphone, saddress, taxitems, taxrate, isort, buse
    </sql>

</mapper>
