<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hgzp.mapper.finance.TwinvoicefilesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hgzp.core.model.Twinvoicefiles">
        <id column="id" property="id" />
        <result column="invoiceid" property="invoiceid" />
        <result column="invoicecode" property="invoicecode" />
        <result column="createempid" property="createempid" />
        <result column="createempname" property="createempname" />
        <result column="dcreatetime" property="dcreatetime" />
        <result column="sfileformat" property="sfileformat" />
        <result column="sfileid" property="sfileid" />
        <result column="invoice" property="invoice" />
        <result column="sfilesize" property="sfilesize" />
        <result column="soriginalfile" property="soriginalfile" />
        <result column="sfiletype" property="sfiletype" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, invoiceid, invoicecode, createempid, createempname, dcreatetime, sfileformat, sfileid, invoice, sfilesize, soriginalfile, sfiletype
    </sql>

</mapper>
