<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hgzp.mapper.finance.TwinvoiceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hgzp.core.model.Twinvoice">
        <id column="id" property="id" />
        <result column="customerid" property="customerid" />
        <result column="customername" property="customername" />
        <result column="icusttype" property="icusttype" />
        <result column="namount" property="namount" />
        <result column="operatorid" property="operatorid" />
        <result column="operator" property="operator" />
        <result column="dcreatetime" property="dcreatetime" />
        <result column="itype" property="itype" />
        <result column="istype" property="istype" />
        <result column="istatus" property="istatus" />
        <result column="paymethodid" property="paymethodid" />
        <result column="paymethodname" property="paymethodname" />
        <result column="printitemid" property="printitemid" />
        <result column="printitemname" property="printitemname" />
        <result column="staxcode" property="staxcode" />
        <result column="employid" property="employid" />
        <result column="employname" property="employname" />
        <result column="invoice" property="invoice" />
        <result column="invoicecode" property="invoicecode" />
        <result column="scashier" property="scashier" />
        <result column="schecker" property="schecker" />
        <result column="sremark" property="sremark" />
        <result column="sprintname" property="sprintname" />
        <result column="spayercreditcode" property="spayercreditcode" />
        <result column="spayeraddr" property="spayeraddr" />
        <result column="spayerbank" property="spayerbank" />
        <result column="lastoperatorid" property="lastoperatorid" />
        <result column="lastoperator" property="lastoperator" />
        <result column="relateinvoiceid" property="relateinvoiceid" />
        <result column="businessentityid" property="businessentityid" />
        <result column="businessentityname" property="businessentityname" />
        <result column="adprojectid" property="adprojectid" />
        <result column="adprojectname" property="adprojectname" />
        <result column="version" property="version" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, customerid, customername, icusttype, namount, operatorid, operator, dcreatetime, itype, istype, istatus, paymethodid, paymethodname, printitemid, printitemname, staxcode, employid, employname, invoice, invoicecode, scashier, schecker, sremark, sprintname, spayercreditcode, spayeraddr, spayerbank, lastoperatorid, lastoperator, relateinvoiceid, businessentityid, businessentityname, adprojectid, adprojectname, version
    </sql>

</mapper>
