<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hgzp.mapper.statistic.TbreportmodelitemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hgzp.core.model.Tbreportmodelitem">
        <id column="id" property="id" />
        <result column="reportmodelgroupid" property="reportmodelgroupid" />
        <result column="reporttype" property="reporttype" />
        <result column="sheadername" property="sheadername" />
        <result column="idepttype" property="idepttype" />
        <result column="scolumnname" property="scolumnname" />
        <result column="ilevel" property="ilevel" />
        <result column="snames" property="snames" />
        <result column="sids" property="sids" />
        <result column="isort" property="isort" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, reportmodelgroupid, reporttype, sheadername, idepttype, scolumnname, ilevel, snames, sids, isort
    </sql>

</mapper>
