<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hgzp.mapper.price.TbcommissionrateitemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hgzp.core.model.Tbcommissionrateitem">
        <id column="id" property="id" />
        <result column="commissionrategroupid" property="commissionrategroupid" />
        <result column="commissionrategroupname" property="commissionrategroupname" />
        <result column="mediaid" property="mediaid" />
        <result column="medianame" property="medianame" />
        <result column="adindustryid" property="adindustryid" />
        <result column="adindustryname" property="adindustryname" />
        <result column="deptid" property="deptid" />
        <result column="deptname" property="deptname" />
        <result column="employid" property="employid" />
        <result column="employname" property="employname" />
        <result column="nrateofcustomer" property="nrateofcustomer" />
        <result column="nrateofagency" property="nrateofagency" />
        <result column="nrateofagent" property="nrateofagent" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, commissionrategroupid, commissionrategroupname, mediaid, medianame, adindustryid, adindustryname, deptid, deptname, employid, employname, nrateofcustomer, nrateofagency, nrateofagent
    </sql>

</mapper>
