<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hgzp.mapper.price.TbdiscountitemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hgzp.core.model.Tbdiscountitem">
        <id column="id" property="id" />
        <result column="discountgroupid" property="discountgroupid" />
        <result column="mediaid" property="mediaid" />
        <result column="medianame" property="medianame" />
        <result column="adindustryid" property="adindustryid" />
        <result column="adindustryname" property="adindustryname" />
        <result column="bcustomer" property="bcustomer" />
        <result column="bagency" property="bagency" />
        <result column="bagent" property="bagent" />
        <result column="bvip" property="bvip" />
        <result column="ndiscount" property="ndiscount" />
        <result column="sremark" property="sremark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, discountgroupid, mediaid, medianame, adindustryid, adindustryname, bcustomer, bagency, bagent, bvip, ndiscount, sremark
    </sql>

</mapper>
