@import './variables.module.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './btn.scss';
@import './ruoyi.scss';

body {
  height: 100%;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  // font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
  //   Microsoft YaHei, Arial, sans-serif;
  font-family: "Helvetica Neue",Helvetica,Tahoma,Arial,'PingFang SC','Source Han Sans CN','Source Han Sans','Source Han Serif','Hiragino Sans GB','WenQuanYi Micro Hei','Microsoft YaHei',sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-padding {
  padding: 0px !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}
li {
  list-style: none;
}
.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: block;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ' ';
    clear: both;
    height: 0;
  }
}

aside {
  background: #eef1f6;
  padding: 8px 24px;
  margin-bottom: 20px;
  border-radius: 2px;
  display: block;
  line-height: 32px;
  font-size: 16px;
  font-family: "Helvetica Neue",Helvetica,Tahoma,Arial,'PingFang SC','Source Han Sans CN','Source Han Sans','Source Han Serif','Hiragino Sans GB','WenQuanYi Micro Hei','Microsoft YaHei',sans-serif;
  // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
  //   Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #2c3e50;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  a {
    color: #337ab7;
    cursor: pointer;

    &:hover {
      color: rgb(32, 160, 255);
    }
  }
}

//main-container全局样式
.app-container {
  padding: 5px;
}

.components-container {
  margin: 30px 50px;
  position: relative;
}

.pagination-container {
  margin-top: 30px;
}

.text-center {
  text-align: center;
}

.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  transition: 600ms ease position;
  background: linear-gradient(
    90deg,
    rgba(32, 182, 249, 1) 0%,
    rgba(32, 182, 249, 1) 0%,
    rgba(33, 120, 241, 1) 100%,
    rgba(33, 120, 241, 1) 100%
  );

  .subtitle {
    font-size: 20px;
    color: #fff;
  }

  &.draft {
    background: #d0d0d0;
  }

  &.deleted {
    background: #d0d0d0;
  }
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;

  &:hover {
    color: rgb(32, 160, 255);
  }
}

.filter-container {
  padding-bottom: 10px;

  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }
}

//refine vue-multiselect plugin
.multiselect {
  line-height: 16px;
}

.multiselect--active {
  z-index: 1000 !important;
}

// 滚动条样式........................................
* {
  scrollbar-color: rgba(144, 147, 153, 0.3) transparent; /* 滑块颜色  滚动条背景颜色 */
  scrollbar-width: thin; /* 滚动条宽度有三种：thin、auto、none */
  // 滚动条整体部分
}
*::-webkit-scrollbar {
  width:8px;
  height: 8px;
}
// 滚动条的轨道的两端按钮，允许通过点击微调小方块的位置。
*::-webkit-scrollbar-button {
  display: none;
}
// 滚动条的轨道（里面装有Thumb）
*::-webkit-scrollbar-track {
  background: transparent;
}
// 滚动条的轨道（里面装有Thumb）
*::-webkit-scrollbar-track-piece {
  background-color: transparent;
}
// 滚动条里面的小方块，能向上向下移动（或往左往右移动，取决于是垂直滚动条还是水平滚动条）
*::-webkit-scrollbar-thumb {
  background: rgba(144, 147, 153, 0.3);
  cursor: pointer;
  border-radius: 4px;
}
// 边角，即两个滚动条的交汇处
*::-webkit-scrollbar-corner {
  display: none;
}
// 两个滚动条的交汇处上用于通过拖动调整元素大小的小控件
*::-webkit-resizer {
  display: none;
}

// 布局整体样式
.search_box{
  background-color: #fff;
  padding: 5px 10px 0;
  border-radius: 5px;
  margin-bottom: 5px;
  .el-button,.el-select,.el-input{
    margin: 0 10px 5px 0!important;
  }
  .flex{
    display: flex;
    width: 100%;
  }
}
.table_box{
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
}
.left_box {
  padding: 10px 20px 20px;
  overflow-y: auto;
}
// 树形结构整体样式
.treeplusshow {
  float: left;
}
.custom-tree-node {
  width: 100%;
}
.custom-tree-node:hover .treeplus {
  display: block;
  margin-left: 10px;
}
.treeplus {
  color: var(--el-color-primary);
  margin-left: 10px;
  display: none;
  border: 1px solid var(--el-color-primary);
  height: 16px;
  width: 16px;
  float: left;
}
.el-select-dropdown__item.selected {
  color: #000!important;
  font-weight: 0!important;
}
.fenge-box {
  text-align: center;
  width: 100%;
  line-height: 50px;
  color: #a8abb2;
  span {
    color: #409efc;
    font-size: 16px;
  }
}
// 搜索导航样式修改
.search_box {
  .el-form--inline .el-form-item {
    margin: 0 10px 0px 0px;
    vertical-align: top !important;
  }
  .el-select {
    margin-bottom: 0px!important;
  }
  .feicy{
    margin: 5px 0;
  }
  .el-button.is-circle {
  position: absolute;
  right: 10px;
}
}
// 分页样式
.el-pagination{
  margin-top: 5px;
}
// 个人中心
.userbox{
    margin: -10px;
    background: white;
    padding: 20px 20px 20px 200px;
}
//整体进度条
#nprogress .bar{
  // background-color: red!important;
  background-image: linear-gradient(-90deg, #0072fe, #00cec6)!important;
}
//左侧点击变底色------------------------------------------------------------
.el-menu-item.is-active {
  color: #ffffff !important;
  background-image: linear-gradient(270deg, #409eff, #0072fe);
  // border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  //  border-bottom-right-radius: 30px;
   margin:10px 0px 10px 10px;
   font-size: 14px;
   height: 40px;
   line-height: 40px;
}
// 表格隔行换色
.el-table--striped .el-table__body tr.el-table__row--striped td.el-table__cell{
  background-color: #F2F6FC;
}
.el-table--default .el-table__cell{
  padding: 6px 0!important;
}
.el-table .el-table__header-wrapper th,
.el-table .el-table__fixed-header-wrapper th {
  word-break: break-word;
  height: 36px !important;
}
// 选择框高度减小
.el-checkbox{
  height: 23px;
}
// 提示框颜色
.el-popper.is-dark{
 padding: 6px 12px;
  background-color: #409eff;
  border: none;
  color: #fff;
  box-shadow: var(--el-box-shadow-light)

}
.el-popper.is-dark .el-popper__arrow::before {
 background-color: #409eff;
  right: 0;
  color: #fff;
  border: none;
  box-shadow: var(--el-box-shadow-light)
}
.oneLine {
  overflow: hidden;/*2. 超出的部分隐藏*/
  white-space: nowrap;/*1. 先强制一行内显示文本*/
  text-overflow: ellipsis;/*3. 文字用省略号替代超出的部分*/
}
// 排序颜色
.el-table .sort-caret.ascending{
  border-bottom-color: #ffffff;
}
.el-table .sort-caret.descending{
   border-top-color: #ffffff;
}
// 检索帮助
.search_box .show {
  position: absolute;
  right: 46px!important;
}
.search_box .help {
  position: absolute;
  right: 10px!important;
  width: 32px;
}