<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hgzp.mapper.customer.TbcustomercreditMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hgzp.core.model.Tbcustomercredit">
        <id column="id" property="id" />
        <result column="creditname" property="creditname" />
        <result column="isort" property="isort" />
        <result column="buse" property="buse" />
        <result column="sremark" property="sremark" />
        <result column="createempid" property="createempid" />
        <result column="createempname" property="createempname" />
        <result column="createtime" property="createtime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, creditname, isort, buse, sremark, createempid, createempname, createtime
    </sql>

</mapper>
