<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hgzp.mapper.customer.TwcustomerserviceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hgzp.core.model.Twcustomerservice">
        <id column="id" property="id" />
        <result column="stitle" property="stitle" />
        <result column="employid" property="employid" />
        <result column="employname" property="employname" />
        <result column="customerid" property="customerid" />
        <result column="customername" property="customername" />
        <result column="iservicetype" property="iservicetype" />
        <result column="scontacts" property="scontacts" />
        <result column="sphone" property="sphone" />
        <result column="dstartdate" property="dstartdate" />
        <result column="denddate" property="denddate" />
        <result column="operatorid" property="operatorid" />
        <result column="operatorname" property="operatorname" />
        <result column="dcreatetime" property="dcreatetime" />
        <result column="scontent" property="scontent" />
        <result column="sresult" property="sresult" />
        <result column="sstatus" property="sstatus" />
        <result column="lastoperatorid" property="lastoperatorid" />
        <result column="lastoperator" property="lastoperator" />
        <result column="dlasttime" property="dlasttime" />
        <result column="bdelete" property="bdelete" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, stitle, employid, employname, customerid, customername, iservicetype, scontacts, sphone, dstartdate, denddate, operatorid, operatorname, dcreatetime, scontent, sresult, sstatus, lastoperatorid, lastoperator, dlasttime, bdelete
    </sql>

</mapper>
